body {
    font-family: Verdana, sans-serif;
    margin: 20px;
}

h1 {
    color: #6d4dcb;
    text-align: center;
}

#judul {
    color: #2f9939;
    text-align: center;
}

p.bio {
    font-style: italic;
    color: #444;
}