body {
    font-family: Verdana, sans-serif;
    margin: 20px;
}

h1 {
    color: #6d4dcb;
    text-align: center;
}

#judul {
    color: #2f9939;
    text-align: center;
}

p.bio {
    font-style: italic;
    color: #444;
}

.example-container {
    margin: 8px;
    border: 8px solid red;
    padding: 8px;
    width: 100px;
    height: 100px;
}

.kontainer-profile {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}